Package: sulad
Version: 0.1-1+deb8u1
Architecture: any
Maintainer: Kochkin Roman <kochkin.roman@gmail.com>
Installed-Size: 145
Depends: libc6 (>= 2.14)
Section: misc
Priority: optional
Homepage: http://www.gnu.org/software/sulad/
Description: example package based on GNU hello
